.footer,
.push {
  height: 50px;
}

.center {
  // to align center in Firefox, -webkit-center is not recognized in Firefox
  // The order matters
  text-align: center;
  text-align: -webkit-center;
}

.spaced {
  padding-bottom: 1rem;
}

html.dark {
  --c-brand: #b2a5e5;
  --c-brand-light: #b2a5e5;
  --c-bg: #1e2233;
  --c-bg-light: #2b313a;
  --c-bg-lighter: #262c34;
  --c-bg-dark: #343b44;
  --c-bg-darker: #37404c;
  --c-text: #adbac7;
  --c-text-light: #96a7b7;
  --c-text-lighter: #8b9eb0;
  --c-text-lightest: #8094a8;
  --c-border: #3e4c5a;
  --c-border-dark: #34404c;
  --c-tip: #b2a5e5;
  --c-warning: #e0ad15;
  --c-warning-bg: #2d2f2d;
  --c-warning-bg-light: #423e2a;
  --c-warning-bg-lighter: #44442f;
  --c-warning-border-dark: #957c35;
  --c-warning-details-bg: #39392d;
  --c-warning-title: #fdca31;
  --c-warning-text: #d8d96d;
  --c-warning-text-accent: #ffbf00;
  --c-warning-text-light: #ddb84b;
  --c-warning-text-quote: #ccab49;
  --c-danger: #fc1e38;
  --c-danger-bg: #39232c;
  --c-danger-bg-light: #4b2b35;
  --c-danger-bg-lighter: #553040;
  --c-danger-border-dark: #a25151;
  --c-danger-details-bg: #482936;
  --c-danger-title: #fc2d3b;
  --c-danger-text: #ea9ca0;
  --c-danger-text-accent: #fd3636;
  --c-danger-text-light: #d9777c;
  --c-danger-text-quote: #d56b6b;
  --c-details-bg: #323843;
  --c-badge-warning: var(--c-warning);
  --c-badge-warning-text: #3c2e05;
  --c-badge-danger: var(--c-danger);
  --c-badge-danger-text: #401416;
  --code-hl-bg-color: #363b46;
  --code-bg-color: #192338;
}
:root {
  --back-to-top-z-index: 5;
  --back-to-top-color: #b2a5e5;
  --back-to-top-color-hover: #b2a5e5;
}
:root {
  --search-bg-color: #ffffff;
  --search-accent-color: #b2a5e5;
  --search-text-color: #2c3e50;
  --search-border-color: #eaecef;
  --search-item-text-color: #5d81a5;
  --search-item-focus-bg-color: #f3f4f5;
  --search-input-width: 8rem;
  --search-result-width: 20rem;
}

/*語法凸顯*/
 code[class*="language-"],
 pre[class*="language-"] {
    color: #91b5ff; /* Foreground */
    background: #192338; /* Background */
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
 }
 
 pre[class*="language-"]::-moz-selection,
 pre[class*="language-"] ::-moz-selection,
 code[class*="language-"]::-moz-selection,
 code[class*="language-"] ::-moz-selection {
    background: #6c98e3; /* Outline */
 }
 
 pre[class*="language-"]::selection,
 pre[class*="language-"] ::selection,
 code[class*="language-"]::selection,
 code[class*="language-"] ::selection {
    background: #6c98e3; /* Outline */
 }
 
 /* Code blocks */
 pre[class*="language-"] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
    background: #192338; /* Background */
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
    padding: 0.1em 0.3em;
    border-radius: 0.3em;
    white-space: normal;
 }
 
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
    color: #6860c3; /* Comments */
 }
 
 .token.punctuation {
    color: #91b5ff; /* Foreground */
 }
 
 .token.delimiter.important,
 .token.selector .parent,
 .token.tag,
 .token.tag .token.punctuation {
    color: #6c98e3; /* Tag Names */
 }
 
 .token.attr-name,
 .token.boolean,
 .token.number,
 .token.constant,
 .token.selector .token.attribute {
    color: #91b5ff; /* Variable Names */
 }
 
 .token.class-name,
 .token.key,
 .token.parameter,
 .token.property,
 .token.property-access,
 .token.variable {
    color: #F2E088; /* Class Names */
 }
 
 .token.attr-value,
 .token.inserted,
 .token.color,
 .token.selector .token.value,
 .token.string,
 .token.string .token.url-link {
    color: #ff60ce; /* Strings */
 }
 
 .token.builtin,
 .token.keyword-array,
 .token.package,
 .token.regex {
    color: #F2E088; /* Keywords */
 }
 
 .token.function,
 .token.selector .token.class,
 .token.selector .token.id {
    color: #F2E088; /* Function Definitions */
 }
 
 .token.atrule .token.rule,
 .token.combinator,
 .token.keyword,
 .token.operator,
 .token.pseudo-class,
 .token.pseudo-element,
 .token.selector,
 .token.unit {
    color: #F2E088; /* Keywords */
 }
 
 .token.deleted,
 .token.important {
    color: #ffbaee; /* Negative */
 }
 
 .token.keyword-this,
 .token.this {
    color: #91b5ff; /* Foreground */
 }
 
 .token.important,
 .token.keyword-this,
 .token.this,
 .token.bold {
    font-weight: bold;
 }
 
 .token.delimiter.important {
    font-weight: inherit;
 }
 
 .token.italic {
    font-style: italic;
 }
 
 .token.entity {
    cursor: help;
 }
 
 .language-markdown .token.title,
 .language-markdown .token.title .token.punctuation {
    color: #91b5ff; /* Variable Names */
    font-weight: bold;
 }
 
 .language-markdown .token.blockquote.punctuation {
    color: #ff60ce; /* Strings */
 }
 
 .language-markdown .token.code {
    color: #6c98e3; /* Tag Names */
 }
 
 .language-markdown .token.hr.punctuation {
    color: #91b5ff; /* Variable Names */
 }
 
 .language-markdown .token.url .token.content {
    color: #ff60ce; /* Strings */
 }
 
 .language-markdown .token.url-link {
    color: #91b5ff; /* Variable Names */
 }
 
 .language-markdown .token.list.punctuation {
    color: #ff60ce; /* Strings */
 }
 
 .language-markdown .token.table-header {
    color: #91b5ff; /* Variable Names */
 }
 
 .language-json .token.operator {
    color: #91b5ff; /* Variable Names */
 }
 
 .language-scss .token.variable {
    color: #6c98e3; /* Tag Names */
 }
 
 /* overrides color-values for the Show Invisibles plugin */
 .token.token.tab:not(:empty):before,
 .token.token.cr:before,
 .token.token.lf:before,
 .token.token.space:before {
    color: #6860c3; /* Comments */
 }
 
 /* overrides color-values for the Toolbar plugin */
 div.code-toolbar > .toolbar.toolbar > .toolbar-item > a,
 div.code-toolbar > .toolbar.toolbar > .toolbar-item > button {
    color: #192338; /* Background */
    background: #6c98e3; /* Outline */
 }
 
 div.code-toolbar > .toolbar.toolbar > .toolbar-item > a:hover,
 div.code-toolbar > .toolbar.toolbar > .toolbar-item > a:focus,
 div.code-toolbar > .toolbar.toolbar > .toolbar-item > button:hover,
 div.code-toolbar > .toolbar.toolbar > .toolbar-item > button:focus {
    color: #192338; /* Background */
    background: #6c98e3; /* Outline */
    text-decoration: none;
 }
 
 div.code-toolbar > .toolbar.toolbar > .toolbar-item > span,
 div.code-toolbar > .toolbar.toolbar > .toolbar-item > span:hover,
 div.code-toolbar > .toolbar.toolbar > .toolbar-item > span:focus {
    color: #192338; /* Background */
    background: #6860c3; /* Comments */
 }
 
 /* overrides color-values for the Line Highlight plugin */
 .line-highlight.line-highlight {
    background: #3c526d5f;
    background: linear-gradient(to right, #3c526d5f 70%, #3c526d55);
 }
 
 .line-highlight.line-highlight:before,
 .line-highlight.line-highlight[data-end]:after {
    background-color: #6860c3; /* Comments */
    color: #192338; /* Background */
    box-shadow: 0 1px #3c526d;
 }
 
 pre[id].linkable-line-numbers.linkable-line-numbers span.line-numbers-rows > span:hover:before {
    background-color: #6860c318; /* Comments */
 }
 
 /* overrides color-values for the Line Numbers plugin */
 .line-numbers.line-numbers .line-numbers-rows {
    border-right: 1px solid #0b121b;
    background: #0b121b7a;
 }
 
 .line-numbers .line-numbers-rows > span:before {
    color: #6860c3da; /* Comments */
 }
 
 /* overrides color-values for the Match Braces plugin */
 .rainbow-braces .token.token.punctuation.brace-level-1,
 .rainbow-braces .token.token.punctuation.brace-level-5,
 .rainbow-braces .token.token.punctuation.brace-level-9 {
    color: #91b5ff; /* Foreground */
 }
 
 .rainbow-braces .token.token.punctuation.brace-level-2,
 .rainbow-braces .token.token.punctuation.brace-level-6,
 .rainbow-braces .token.token.punctuation.brace-level-10 {
    color: #ff60ce; /* Strings */
 }
 
 .rainbow-braces .token.token.punctuation.brace-level-3,
 .rainbow-braces .token.token.punctuation.brace-level-7,
 .rainbow-braces .token.token.punctuation.brace-level-11 {
    color: #6c98e3; /* Tag Names */
 }
 
 .rainbow-braces .token.token.punctuation.brace-level-4,
 .rainbow-braces .token.token.punctuation.brace-level-8,
 .rainbow-braces .token.token.punctuation.brace-level-12 {
    color: #F2E088; /* Class Names */
 }
 
 /* overrides color-values for the Diff Highlight plugin */
 pre.diff-highlight > code .token.token.deleted:not(.prefix),
 pre > code.diff-highlight .token.token.deleted:not(.prefix) {
    background-color: #ffbaee1f; /* Negative */
 }
 
 pre.diff-highlight > code .token.token.inserted:not(.prefix),
 pre > code.diff-highlight .token.token.inserted:not(.prefix) {
    background-color: #91b5ff1f; /* Foreground */
 }
 
 /* overrides color-values for the Command Line plugin */
 .command-line .command-line-prompt {
    border-right: 1px solid #0b121b;
 }
 
 .command-line .command-line-prompt > span:before {
    color: #6860c3da; /* Comments */
 }

/*亮色模式*/
 :root {
  --c-brand: #b2a5e5;
  --c-brand-light: #b2a5e5;
  --c-bg: #ffffff;
  --c-bg-light: #f3f4f5;
  --c-bg-lighter: #eeeeee;
  --c-bg-dark: #ebebec;
  --c-bg-darker: #e6e6e6;
  --c-bg-navbar: var(--c-bg);
  --c-bg-sidebar: var(--c-bg);
  --c-bg-arrow: #cccccc;
  --c-text: #2c3e50;
  --c-text-accent: var(--c-brand);
  --c-text-light: #3a5169;
  --c-text-lighter: #4e6e8e;
  --c-text-lightest: #6a8bad;
  --c-text-quote: #999999;
  --c-border: #eaecef;
  --c-border-dark: #dfe2e5;
  --c-tip: #b2a5e5;
  --c-tip-bg: var(--c-bg-light);
  --c-tip-title: var(--c-text);
  --c-tip-text: var(--c-text);
  --c-tip-text-accent: var(--c-text-accent);
  --c-warning: #ffc310;
  --c-warning-bg: #fffae3;
  --c-warning-bg-light: #fff3ba;
  --c-warning-bg-lighter: #fff0b0;
  --c-warning-border-dark: #f7dc91;
  --c-warning-details-bg: #fff5ca;
  --c-warning-title: #f1b300;
  --c-warning-text: #746000;
  --c-warning-text-accent: #edb100;
  --c-warning-text-light: #c1971c;
  --c-warning-text-quote: #ccab49;
  --c-danger: #f11e37;
  --c-danger-bg: #ffe0e0;
  --c-danger-bg-light: #ffcfde;
  --c-danger-bg-lighter: #ffc9c9;
  --c-danger-border-dark: #f1abab;
  --c-danger-details-bg: #ffd4d4;
  --c-danger-title: #ed1e2c;
  --c-danger-text: #660000;
  --c-danger-text-accent: #bd1a1a;
  --c-danger-text-light: #b5474d;
  --c-danger-text-quote: #c15b5b;
  --c-details-bg: #eeeeee;
  --c-badge-tip: var(--c-tip);
  --c-badge-warning: #ecc808;
  --c-badge-warning-text: var(--c-bg);
  --c-badge-danger: #dc2626;
  --c-badge-danger-text: var(--c-bg);
  --t-color: .3s ease;
  --t-transform: .3s ease;
  --code-bg-color: rgb(32, 45, 75);
  --code-hl-bg-color: rgba(0, 0, 0, .66);
  --code-ln-color: #9e9e9e;
  --code-ln-wrapper-width: 3.5rem;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-family-code: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --navbar-height: 3.6rem;
  --navbar-padding-v: .7rem;
  --navbar-padding-h: 1.5rem;
  --sidebar-width: 20rem;
  --sidebar-width-mobile: calc(var(--sidebar-width) * .82);
  --content-width: 740px;
  --homepage-width: 960px;
}

/*回到頂部按鈕上移*/
.back-to-top {
  margin-bottom: 50px;
}